*{
	margin: 0;
	padding:0;
	border: 0;
}
header{
	background: black;
	height: 100px;
	padding: 0px 15px;
}
header form{
	float: left;
	position: relative;
	top: 20px;
	left: 50px;
}
header form input{
	padding: 7%;
}
header form #busqueda{
	width: 200px;
}
figure{
	float: left;
}
nav{
	float: right;
	position: relative;
	top: 8px;
}
nav li{
	float: left;
	margin: 10px;
	background: orange;
	padding: 7px;
	list-style: none;
}
nav li a{
	color: white;
	text-decoration: none;
}
#banner{
	background: lightblue;
	height: 300px;
}
#noticias{
	background: silver;
	height: 1100px;
	width: 800px;
	float: left;
}
#noticias article{
	width: 300px;
	height: 450px;
	background: white;
	/*margin: 20px 80px 10px;*/
	margin: 30px;
	padding: 10px;
	border-top: 3px solid green;
	border-left: 5px dashed black;
	border-right: 10px dotted blue;
	border-bottom: 7px double red;
	float: left;
}
#noticias article img{
	width: 100%;
}
aside{
	width: 623px;
	height: 1100px;
	background: pink;
	float: right;
}
footer{
	background: black;
	color: white;
	text-align: center;
	clear: both;
	padding: 10px;
}
.imagen-relativa{
	position: fixed;
	top: 80px;
	right: ;
	left: 100px;
	bottom: ;
}
#noticias article img{
	width: 200px;
}